
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload profile pic</title>
</head>
<body>
    <h1>upload profile pic</h1>

    <br>
    <hr>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='http://localhost:3000/img/profile/upload' 
      method='post' 
      encType="multipart/form-data">
      <input type="text" name="userName" />
        <input type="file" name="profilepic" />
        <input type='submit' value='Upload!' />
    </form>     


</body>
</html>